---
layout: page
title: Download
sorted: 3

sources:
  - name: Linux
    icon: /assets/img/tux.png
    description: >
        !SITE_TITLE! is already available on most Linux distributions. You
        can install it from the package manager of your distribution.
  - name: Release Sources
    icon: /assets/img/ark.svg
    description: >
        !SITE_TITLE! is released regularly as part of KDE Applications. You can 
        find the latest stable release among the 
        <a href="https://download.kde.org/stable/release-service/">KDE Application tarballs</a>.

        If you want to build !SITE_TITLE! from sources, we recommend checking our
        <a href="https://invent.kde.org/education/cantor#how-to-build-and-install-cantor">README</a> which contains instructions for compiling.
  - name: Git
    icon: /assets/img/git.svg
    description: >
        The git repository can be viewed on
        <a href="!SITE_GIT!">invent.kde.org</a>.

        To clone use <code>git clone !SITE_GIT!</code>.
---

<h1>Download</h1>

<table class="distribution-table">
  {% for source in page.sources %}
    <tr class="title-row">
      <td rowspan="2" width="100">
        <img src="{{ source.icon }}" alt="{{ source.name }}">
      </td>
      <th>{{ source.name }}</th>
    </tr>
    <tr>
      <td>{{ source.description | replace: '!SITE_TITLE!', site.title | replace: '!SITE_GIT!', site.git}}</td>
    </tr>
 {% endfor %}
</table>
